:root {
	--bg-color: #282828;
	--fg-color: #EBDBB2;
	--aqua-dark: #8EC07C;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

body {
	background-color: #282828;
	color: #FFF;
	height: 100vh;
}

section {
	display: flex;
	flex-wrap: wrap;
	scroll-snap-type: y mandatory;
}

article {
	scroll-snap-align: center;
}

h1 {
	font-size: 2em;
	font-weight: 900;
	text-align: center;
}

input, textarea {
	outline: none;
}

button, input[type="submit"], input[type="reset"], input[type="button"] {
	background-color: transparent;
	border: 1px solid #FFF;
	border-radius: 5px;
	padding: 5px 5px;
	color: inherit;
	min-width: fit-content;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	cursor: pointer;
	background-color: #FFF;
	color: #000;
}

button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
	cursor: pointer;
	background-color: #FFF;
	color: #000;
}

.esconder {
	display: none !important;
}








/*estilos del calendario*/

.cogida span {
	background: var(--aqua-dark) !important;
}

/*ocultar calendario*/
#ui-datepicker-div{
	display: none;
}

/* Estilos generales del calendario */
.ui-datepicker {
	position: absolute;
	top: 200px;
	left: 80px;
    width: 500px;
    height: 450px;
    border: 1px solid;
	border-radius: 15px;
}

/* Estilos del encabezado del calendario */
.ui-datepicker .ui-datepicker-header {
    text-align: center;
	margin-top: 10px;
}

/* Botón de anterior */
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
    float: left;
	background-image: url(../img/anterior.png);
}

/*Botón de siguiente*/
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
    float: right;
	background-image: url(../img/avance-rapido.png);
}

/* Estilos de los íconos de navegación */
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev .ui-icon {
    background-image: url(../img/anterior.png);
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next .ui-icon {
    background-image: url(../img/avance-rapido.png);
}

/* Estilos del título del calendario */
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
 	text-transform: uppercase;
	font-size: 30px;
}

/* Estilos de los días en el calendario */
.ui-datepicker .ui-datepicker-calendar a {
    text-decoration: none;
    text-align: left;
}

/* Estilos de las celdas del calendario */
.ui-datepicker .ui-datepicker-calendar td {
    border-bottom: 2px solid;
}

/* Estilos generales de la tabla */
.ui-datepicker table {
	border-collapse:collapse ;
	margin-top: 20px;
	width: 499px;
	height: 385px;
	text-align: center;
}

/* Estilos de las celdas de la tabla */
.ui-datepicker .ui-datepicker-calendar thead tr th,
.ui-datepicker .ui-datepicker-calendar tbody tr td {
    font-size: 25px;
	transition: 0.15s;
}
.ui-datepicker table thead tr,
.ui-datepicker table tbody tr{
	border-bottom:1px solid white;
}
.ui-datepicker table tbody tr:last-of-type{
	border-bottom: 0px;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td:hover {
	background-color: white;
	transition: 0.1s;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td:hover a{
	color: #000;
}
/* Estilos del texto dentro de las celdas del calendario */
.ui-datepicker table tbody tr td span {
  color: var(--fg-color);
}

.ui-datepicker table tbody tr td a {
	color: var(--aqua-dark);
}









/* tareas */
article#tareas {
	flex: 1 1 50%;
	height: 100vh;
	border: 1px solid #FFF;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: stretch;
	padding: 10px;
	overflow: auto;
}

article#tareas input[type="text"]{
	width: 100%;
	background-color: #333333;
	border: 0;
	color: #FFF;
	padding: 5px;
	border-bottom: 2px solid #FFF;
}

/* tarea */
article#tareas div.tarea {
	min-height: 130px;
	position: relative;
	border: 1px solid #FFF;
	border-radius: 10px;
	padding: 10px;
}

article#tareas div.tarea p {
	width: 100%;
	text-align: justify;
	margin-bottom: 5px;
	margin-top: 10px;
	word-break: break-all;
}

article#tareas div.tarea button.borrartarea {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 10%;
	display:none;
}

article#tareas div.tarea button.editartarea {
	position: absolute;
	top: 50px;
	right: 10px;
	width: 10%;
	display:none;
}

article#tareas div.tarea button.completartarea {
	position: absolute;
	top: 90px;
	right: 10px;
	width: 10%;
	display:none;
}

article#tareas div.tarea:hover button.borrartarea,
article#tareas div.tarea:hover button.editartarea,
article#tareas div.tarea:hover button.completartarea {
    display: block;
}

article#tareas div.tarea:hover p{
    width: 80%;
}

/* Botón de nueva tarea */
article#tareas button#id_nuevatarea {
	font-weight: bold;
	font-size: 1em;
}

/* Formulario de nueva tarea */
article#tareas form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid #FFF;
	border-radius: 10px;
	padding: 10px;
}

article#tareas form div {
	display: flex;
	justify-content: stretch;
	flex-wrap: wrap;
	gap: 5px;
}

article#tareas form div * {
	flex: 1 1 auto;
}


article#tareas form input[type="text"], article#tareas form textarea {
	background-color: #333333;
	border: 0;
	border-bottom: 1px solid #FFF;
	color: #FFF;
	padding: 5px;
}

article#tareas form input[type="text"] {
	font-size: 1.17em;
	font-weight: bold;
}

article#tareas form textarea {
	resize: vertical;
}

@media (max-width:650px) {
	section {
		display: block;
		width: fit-content;
		height: 100%;
		overflow: auto;
	}
	article#tareas {
		width: 100vw;
		max-height: 100vh;
	}
}

/* tareas completadas */
article#tareascompletadas {
	flex: 1 1 50%;
	height: 100vh;
	border: 1px solid #FFF;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: stretch;
	padding: 10px;
	overflow: auto;
}

/* tarea completada*/
article#tareascompletadas div.tarea {
	min-height: 130px;
	position: relative;
	border: 1px solid #FFF;
	border-radius: 10px;
	padding: 10px;
}

article#tareascompletadas input[type="text"]{
	width: 100%;
	background-color: #333333;
	border: 0;
	color: #FFF;
	padding: 5px;
	border-bottom: 2px solid #FFF;
}

article#tareascompletadas div.tarea p {
	width: 100%;
	text-align: justify;
	margin-bottom: 5px;
	margin-top: 10px;
	word-break: break-all;
}

article#tareascompletadas div.tarea button.borrartarea {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 10%;
	display:block;
}

article#tareascompletadas div.tarea button.editartarea {
	position: absolute;
	top: 50px;
	right: 10px;
	width: 10%;
	display:none;
}

article#tareascompletadas div.tarea button.completartarea {
	position: absolute;
	top: 90px;
	right: 10px;
	width: 10%;
	display:none;
}
