:root {
	--bg-color: #282828;
	--fg-color: #EBDBB2;
	--aqua-dark: #8EC07C;
	--gray-light: #a88984;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	border-color: var(--fg-color) !important;
	color: var(--fg-color);
}

::-webkit-scrollbar {
	display: none;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	background-color: #282828;
	color: #FFF;
	height: 100vh;
}

section {
	display: flex;
	flex-wrap: wrap;
	scroll-snap-type: y mandatory;
}

article {
	scroll-snap-align: center;
}

h1 {
	font-size: 2em;
	font-weight: 900;
	text-align: center;
}

input, textarea {
	outline: none;
}

a:hover {
	cursor: pointer;
}

button, input[type="submit"], input[type="reset"], input[type="button"] {
	background-color: transparent;
	border: 1px solid #FFF;
	border-radius: 5px;
	padding: 5px 5px;
	color: inherit;
	min-width: fit-content;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	cursor: pointer;
	background-color: #FFF;
	color: #000;
}

button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
	cursor: pointer;
	background-color: #FFF;
	color: #000;
}

.esconder {
	display: none !important;
}

/*estilos del calendario*/
.cogida a {
	color: var(--bg-color) !important;
	background: var(--aqua-dark) !important;
}

/*ocultar calendario*/
#ui-datepicker-div{
	display: none;
}

/* Estilos generales del calendario */
.ui-datepicker {
	padding: 10px 20px;
	border: 1px solid;
	border-radius: 15px;
}

/* Estilos del encabezado del calendario */
.ui-datepicker .ui-datepicker-header {
    text-align: center;
	margin-top: 10px;
}

/* Botón de anterior */
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
    float: left;
	background-image: url(../img/anterior.png);
}

/*Botón de siguiente*/
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
    float: right;
	background-image: url(../img/avance-rapido.png);
}

/* Estilos de los íconos de navegación */
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev .ui-icon {
    background-image: url(../img/anterior.png);
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next .ui-icon {
    background-image: url(../img/avance-rapido.png);
}

/* Estilos del título del calendario */
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
 	text-transform: uppercase;
	font-size: 30px;
}

/* Estilos de los días en el calendario */
.ui-datepicker .ui-datepicker-calendar a {
    text-decoration: none;
    text-align: left;
}

/* Estilos generales de la tabla */
.ui-datepicker table {
	border-collapse:collapse ;
	margin-top: 20px;
	text-align: center;
}

/* Estilos de las celdas de la tabla */
.ui-datepicker .ui-datepicker-calendar thead tr th,
.ui-datepicker .ui-datepicker-calendar tbody tr td {
	font-size: 25px;
	transition: 0.15s;
}

.ui-datepicker table thead tr {
	border-bottom: 2px solid var(--fg-color);
}

.ui-datepicker .ui-datepicker-calendar tbody tr td:hover:not(.ui-datepicker-unselectable) {
	background-color: var(--fg-color);
	transition: 0.1s;
}

.ui-datepicker .ui-datepicker-calendar tbody tr td:hover a{
	color: #000;
}

/* Estilos del texto dentro de las celdas del calendario */
.ui-datepicker table tbody tr td span ,
.ui-datepicker table tbody tr td a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px;
}

.ui-datepicker table tbody tr td span {
  color: var(--gray-light);
}

.ui-datepicker table tbody tr td a {
	color: var(--fg-color);
}

/* formulario */

form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 10px;

	width: 300px;

	text-align: justify;
}

input, textarea {
	width: 100%;

	padding: 5px;

	border: 1px solid;
	background: var(--bg-color);
}
